body {
	font-family: 'Roboto', sans-serif;
	background-color: #FAFAFA;
}

#topbar {
	text-align: center;
	padding-top: 5pt;
	padding-bottom: 5pt;
	background-color: #D32F2F;
	color: rgba(255,255,255,.70);
}

body > header {
	text-align: center;
	padding-bottom: 5pt;
	background-color: #F44336;
	color: rgba(255,255,255,1);
}

ul {
	list-style-type: none;
	margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
	float: left;
}

li a {
	display:block;
	padding: 10pt;
	background-color: FFF;
	color: black;
	text-decoration: none;
}

li a:hover {
	background-color: #FAFAFA;
}

body > article {
	background-color: #FFFFFF;
	padding: 20pt 40pt 20pt 40pt;
	width:70%;
	margin-left:auto;
	margin-right:auto;
	margin-top:10pt;
	box-shadow: 0 0 5pt;
}

body > footer {
	margin-top:10pt;
	padding:10pt;
	background-color: #D32F2F;
	width:100%;
	color: rgba(255,255,255,.87);
	text-align: center;
}